.register-form {
  background-image: linear-gradient(#1b3645, #03242f);
  border-radius: 16px;
  padding: 30px 60px;
  color: white;
  max-width: 732px;
  position: relative;
  svg.closeIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #2e5d74;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
  h1 {
    text-transform: uppercase;
    font-family: "Pari-Match Regular";
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
  }
  .line {
    input {
      border-radius: 12px;
      border: 1px solid #487783;
      width: 100%;
      background-color: #031b22;
      height: 54px !important;
      color: #bdd5db;
      padding: 13px;
      outline: none;
    }
    input:placeholder {
      color: red !important;
    }
  }
  .message {
    color: #bdd4db;
    // margin-bottom: 8px;
    font-size: 13px;
    margin-left: 5px;
    display: inline-block;
  }
  .firstLine {
    display: flex;
    // margin-bottom: 8px;
    .css-13cymwt-control {
      width: 96px;
      height: 54px !important;
      margin-right: 8px;
      .css-art2ul-ValueContainer2 {
        height: 54px;
      }
    }
  }
  .secondLine {
    position: relative;
    display: flex;
    align-items: center;
    svg {
      position: absolute;
      right: 0;
      right: 13px;
      cursor: pointer;
    }
  }
  .errorBlock {
    ul {
      padding: 10px 21px;
      color: #bdd4db;
      margin-bottom: 8px;
      font-size: 13px;
    }
  }
  .checkbox-block {
    background-color: #0b4b5d;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    &.year {
      // margin-top: 10px;
    }
    .text {
      font-family: "Roboto", sans-serif;
      div:last-child {
        font-size: 13px;
        color: #f8ff13;
      }
    }

    input[type="checkbox"] {
      position: relative;
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      background-color: #031b22;
      border-radius: 5px;
      border: none; /* Добавьте это, чтобы убрать рамку */
    }

    input:checked[type="checkbox"] {
      background-color: #f8ff13;
      background-image: url("../../assets/images/check3.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .registerButton {
    background: #f8ff13;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 56px;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 10px;
  }
  p {
    text-align: center;
    margin-top: 23px;
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif;
    a {
      color: #f8ff13;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
    }
  }
}

@media (max-width: 575px) {
  .register-form {
    padding: 20px;
    h1 {
      font-size: 32px;
    }
    .line {
      input {
        height: 44px !important;
      }
    }
    .checkbox-block {
      height: 45px;
      .text {
        div:first-child {
          font-size: 12px;
        }
        div:last-child {
          font-size: 10px;
        }
      }
    }
    .registerButton {
      height: 45px;
    }
    p {
      margin-bottom: 10px;
    }
  }
}
