@import "bootstrap/dist/css/bootstrap.min.css";
* {
  margin: 0;
  padding: 0;
}
.app {
  #main {
    height: 120vh;
    background: url("./assets/images/ban1.png") center / cover no-repeat;
    background-position: center;
    .header {
      padding: 15px;
      .header-right {
        .sign-in {
          button {
            background-color: #f8ff13;
            font-family: "Pari-Match Regular";
            // padding: 3px 20px;
            text-transform: uppercase;
            width: 130px;
            height: 40px;
            border: none;
          }
        }
      }
    }
  }

  #rules {
    padding: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/images/rules-back.png");
    .rules-list {
      .rule {
        p {
          color: white;
        }
      }
    }
  }

  #boxes {
    padding: 20px 0;
    background: #001724;
    overflow: hidden;
    p {
      text-align: center;
      color: white;
      margin-bottom: 40px;
      color: #c5c5c5;
      font-size: 32px;
    }
    .boxes-bottom {
      text-align: center;
      margin-top: 60px;
      .buttonBlock {
        background: url("./assets/images/box-btn.png") no-repeat;
        margin: 0 auto;
        position: relative;
        width: 382px;
        height: 108px;
        cursor: pointer;
        .textPart {
          position: absolute;
          font-family: "Pari-Match Regular";
          color: black;
          text-align: center;
          font-size:50px;
          left: 50%;
          top:50%;
          text-transform: uppercase;
          transform: translate(-50%, -60%);
     
        }
      }
    }
  }

  section h2 {
    font-family: "Pari-Match Regular";
    color: white;
    text-align: center;
    font-size: 88px;
  }
}
@media (min-width: 1400px) {
}
