@import "bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "Gilroy";
  src: url("./assets//fonts/Gilroy-Regular.woff");
  src: url("./assets//fonts/Gilroy-Semibold.woff");
}
* {
  margin: 0;
  padding: 0;
}

.app {
  #main {
    height: 120vh;
    background: url("./assets/images/ban2.png") center / cover no-repeat;
    background-position: center;
    position: relative;
    .header {
      padding: 15px 30px;
      align-items: center;
      .header-right {
        .languages {
          text-transform: uppercase;
          font-weight: 400;
          color: white;
          font-size: 22px;
          margin-right: 40px;
          display: flex;
          align-items: center;
          span {
            cursor: pointer;
          }
          span:first-child {
            margin-right: 15px;
            position: relative;
            &:after {
              content: "";
              width: 2px;
              height: 20px;
              background-color: white;
              position: absolute;
              top: 7px;
              right: -7px;
            }
          }
          .active {
            color: #f8ff13;
            text-decoration: underline;
          }
        }
        .sign-in {
          button {
            background-color: #f8ff13;
            font-family: "Pari-Match Regular";
            text-transform: uppercase;
            width: 130px;
            height: 40px;
            border: none;
            transform: skew(-13deg);
            border-radius: 5px;
            position: relative;

            &:after {
              content: "вход";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) skew(12deg);
              font-size: 22px;
            }
          }
        }
      }
    }
    .center-block {
      display: flex;
      flex-direction: column;
      .kzImg {
        width: 430px;
        position: absolute;
        left: 10%;
        top: 17%;
      }
      .ruImg {
        width: 650px;
        position: absolute;
        left: 18%;
        top: 37%;
      }
      .center-block__text {
        font-family: "Pari-Match Regular";
        font-size: 74px;
        line-height: 1;
        position: absolute;
        left: 10%;
        top: 53%;
      }
      .yellowBtn.first {
        position: absolute;
        bottom: 24%;
        left: -6%;
        width: 100%;
      }
    }
  }

  #rules {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/images/rules-back.png");
    .rules-inner {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
    h2 {
      margin-bottom: 40px;
    }
    .rules-list {
      .rule {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          color: white;
        }
      }
    }
  }

  #boxes {
    padding: 20px 0;
    background: #001724;
    overflow: hidden;
    p {
      text-align: center;
      color: white;
      margin-bottom: 75px;
      color: #c5c5c5;
      font-size: 32px;
    }
  }

  section h2 {
    font-family: "Pari-Match Regular";
    color: white;
    text-align: center;
    font-size: 88px;
  }
}

/**********************************************/

@media (min-width: 1200px) {
  #rules {
    .rule {
      img {
        width: 240px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .yellowBtn {
    .buttonBlock {
      background-size: 305px !important;
      width: 306px !important;
      .textPart {
        font-size: 44px !important;
        transform: translate(-50%, -76%) !important;
      }
    }
  }
  main {
    background-position: right !important;
    .header {
      .logo {
        img {
          width: 169px !important;
        }
      }
      button {
        width: 104px !important;
        height: 32px !important;
        &:after {
          font-size: 18px !important;
        }
      }
    }
    .center-block {
      .kzImg {
        width: 330px !important;
        top: 20% !important;
        left: 5% !important;
      }
      .ruImg {
        width: 500px !important;
        top: 35% !important;
        left: 8% !important;
      }
      .center-block__text {
        font-size: 60px !important;
        left: 12% !important;
        top: 50% !important;
      }
      .yellowBtn.first {
        bottom: 29% !important;
        .buttonBlock {
          margin: 0px 205px !important;
        }
      }
    }
  }
  #rules {
    .rules-inner {
      padding: 30px;
      .rule {
        img {
          width: 210px !important;
        }
      }
    }
  }
  section h2 {
    font-size: 55px !important;
  }

  #boxes {
    p {
      font-size: 26px !important;
      margin-bottom: 55px !important;
    }
    .slide {
      img {
        width: 300px !important;
      }
      .visible {
        font-size: 22px;
      }
    }
    .goldBox {
      margin: 0 auto;
      .goldBox__left {
        h2 {
          font-size: 41px !important;
        }
        p {
          font-size: 20px !important;
        }
      }
      .goldBox__right {
        img {
          width: 325px !important;
        }
      }
    }
    .yellowBtn.second {
      margin-top: 30px !important;
    }
    .slideC {
      .prev {
        transform: translate(-169px, -16px);
      }
      .next {
        transform: translate(200px, -16px);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .yellowBtn {
    .buttonBlock {
      background-size: 305px !important;
      width: 306px !important;
      .textPart {
        font-size: 44px !important;
        transform: translate(-50%, -76%) !important;
      }
    }
  }
  .yellowBtn.second {
    margin-top: 30px !important;
  }
  main {
    header {
      .logo {
        img {
          width: 180px !important;
        }
      }
      .header-right {
        .languages {
          font-size: 23px !important;
        }
        .sign-in {
          button {
            width: 100px !important;
            height: 33px !important;
            &:after {
              top: 44% !important;
            }
          }
        }
      }
    }
    .center-block {
      .kzImg {
        width: 300px !important;
        top: 20% !important;
      }
      .ruImg {
        width: 455px !important;
        left: 13% !important;
        top: 32% !important;
      }
      .center-block__text {
        top: 43% !important;
        font-size: 62px !important;
      }
      .yellowBtn.first {
        bottom: 37% !important;
        left: -29% !important;
      }
    }
  }
  section h2 {
    font-size: 63px !important;
  }
  #rules {
    .rules-inner {
      padding: 30px;
      .rule {
        img {
          width: 210px;
        }
      }
    }
  }
  #boxes {
    p {
      font-size: 23px !important;
      margin-bottom: 40px !important;
    }
    .goldBox {
      // margin: 20px;
      .goldBox__left {
        padding: 30px !important;
        h2 {
          font-size: 35px !important;
        }
        p {
          font-size: 18px !important;
        }

        table {
          font-size: 16px;
        }
      }
      .goldBox__right {
        img {
          width: 250px;
          transform: translate(40%, -44%);
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .yellowBtn {
    .buttonBlock {
      background-size: 270px !important;
      width: 306px !important;

      .textPart {
        font-size: 36px !important;
        transform: translate(-60%, -93%) !important;
      }
    }
  }
  .yellowBtn.first {
    .buttonBlock {
      margin: 0px 250px !important;
    }
  }
  .yellowBtn.second {
    margin-top: 20px !important;
    .buttonBlock {
      transform: translateX(18px) !important;
      margin-top: 20px !important;
    }
  }
  main {
    header {
      padding: 30px !important;
      .logo {
        img {
          width: 150px !important;
        }
      }
      .header-right {
        .languages {
          font-size: 20px !important;
        }
        .sign-in {
          button {
            width: 100px !important;
            height: 33px !important;
            &:after {
              top: 44% !important;
            }
          }
        }
      }
    }
    .center-block {
      .kzImg {
        width: 230px !important;
        top: 22% !important;
      }
      .ruImg {
        width: 360px !important;
        left: 13% !important;
        top: 32% !important;
      }
      .center-block__text {
        top: 43% !important;
        font-size: 50px !important;
      }
      .yellowBtn.first {
        bottom: 37% !important;
        left: -29% !important;
      }
    }
  }
  section h2 {
    font-size: 55px !important;
  }
  #rules {
    .rules-inner {
      padding: 30px;
      .rule {
        width: 70% !important;
        margin: 0 auto !important;
        text-align: center !important;
        img {
          width: 197px !important;
        }
      }
      .colItem {
        margin-bottom: 20px !important;
      }
    }
  }
  #boxes {
    padding: 20px !important;
    p {
      font-size: 24px !important;
      margin-bottom: 20px !important;
    }
    .goldBox {
      flex-direction: column-reverse !important;
      margin: 10px !important;
      .goldBox__left {
        width: 100%;
        border-radius: 0 0 16px 16px;
        padding: 25px;
        h2 {
          font-size: 24px !important;
        }
        p {
          font-size: 15px !important;
        }
        table {
          font-size: 12px;
          td {
            height: 35px;
          }
        }
      }
      .goldBox__right {
        height: 100px;
        width: 100%;
        border-radius: 16px 16px 0 0;
        display: flex;
        justify-content: center;
        img {
          width: 200px !important;
          rotate: unset !important;
          transform: translate(0%, -72%);
          filter: drop-shadow(0px 22px 10px #1a1a17) !important;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .yellowBtn {
    .buttonBlock {
      background-size: 270px !important;
      width: 306px !important;
      transform: translateX(20px) !important;
      .textPart {
        font-size: 36px !important;
        transform: translate(-60%, -93%) !important;
      }
    }
  }
  .yellowBtn.second {
    margin-top: 20px !important;
  }
  main {
    header {
      padding: 25px !important;
      .logo {
        img {
          width: 100px !important;
        }
      }
      .header-right {
        .languages {
          font-size: 20px !important;
          margin-right: 10px !important;
        }
        .sign-in {
          button {
            display: none !important;
            width: 100px !important;
            height: 33px !important;
            &:after {
              top: 44% !important;
            }
          }
          img {
          }
        }
      }
    }
    .center-block {
      display: none !important;
      .kzImg {
        width: 230px !important;
        top: 22% !important;
      }
      .ruImg {
        width: 360px !important;
        left: 13% !important;
        top: 32% !important;
      }
      .center-block__text {
        top: 43% !important;
        font-size: 50px !important;
      }
      .yellowBtn.first {
        bottom: 37% !important;
        left: -29% !important;
      }
    }
  }
  #boxes {
    padding: 15px !important;
    p {
      font-size: 18px !important;
      margin-bottom: 10px !important;
    }
    .goldBox {
      flex-direction: column-reverse !important;
      margin: 10px !important;
      .goldBox__left {
        width: 100%;
        border-radius: 0 0 16px 16px;
        padding: 25px;
        h2 {
          font-size: 22px !important;
        }
        p {
          font-size: 15px !important;
        }
        table {
          font-size: 11px;
          td {
            height: 30px;
          }
        }
      }
      .goldBox__right {
        height: 100px;
        width: 100%;
        border-radius: 16px 16px 0 0;
        display: flex;
        justify-content: center;
        img {
          width: 186px !important;
          rotate: unset !important;
          transform: translate(0%, -72%);
          filter: drop-shadow(0px 22px 10px #1a1a17) !important;
        }
      }
    }
    .slideC {
      .prev {
        transform: translate(-150px, -16px);
      }
      .next {
        transform: translate(180px, -16px);
      }
    }
  }
  section h2 {
    font-size: 36px !important;
  }
  #rules {
    .rules-inner {
      padding: 25px 15px !important;
      .rules__tagline {
        .kzImg {
          width: 65%;
          transform: translateX(18px);
          margin-bottom: 10px;
        }
        .ruImg {
          width: 80%;
          transform: translateX(10%) !important;
        }
        .center-block__text {
          font-family: "Pari-Match Regular";
          font-size: 35px;
          color:white;
          text-align: center;
        }
        .yellowBtn.tagline {
          margin-top: 15px;
          .buttonBlock {
            margin: 0 auto !important;
          }
        }
      }

      .rule {
        width: 70% !important;
        margin: 0 auto !important;
        text-align: center !important;
        img {
          width: 170px !important;
        }
      }
      .colItem {
        margin-bottom: 20px !important;
      }
    }
  }
}
