.slideC {
  position: relative;
  perspective: 1000px;
  width: 362px;
  height: 272px;
  margin: 0 auto;
  .sliderBtn {
    position: absolute;
    z-index: 30;
    right: 50%;
    top: 50%;
    background-color: transparent;
    color:white;
    border: none;
    width:30px;
  }
  .prev {
    transform: translate(-186px, -16px);
  }
  .next { 
    transform: translate(218px, -16px);
  }
}

.slide {
  width: 362px;
  height: 272px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color:white;
  font-size: 28px;
  img{
    margin-bottom:20px;
  }
  .visible{
    visibility: visible;
  }
  .hidden{
    visibility: hidden;
  }
}

.slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide h1 {
  background: white;
  padding: 20px;
  border-radius: 50%;
}
